::after {
	/* crea un pseudo-elemento que es el último hijo del elemento seleccionado. Es comunmente usado para añadir contenido cosmético a un elemento con la propiedad content.Es en linea (inline) de forma predeterminada. */
}
::before {
	/* crea un pseudoelemento que es el primer hijo del elemento seleccionado. Es usado normalmente para añadir contenido estético a un elemento, usando la propiedad content. Este elemento se muestra en línea con el texto de forma predeterminada. */
}

q::before {
	content: '«';
	color: blue;
}
q::after {
	content: '»';
	color: red;
}

::first-letter {
	/* aplica estilos a la primera letra de la primera línea un elemento de bloque, sólo cuando no es precedido de otro contenido (como imágenes o tablas). */
}

::first-line {
	/* aplica estilos a la primera línea de un elemento de bloque. Nótese que la longitud de la primera línea depende de muchos factores, incluyendo el ancho del elemento, el ancho del documento y el tamaño de fuente del texto. */
}

::placeholder {
	/* representa el texto provisional en un elemento <input> o un elemento <textarea>. */
}
